* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: black;
    font-size: 14px;
    height: 100vh;
}

.page-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

nav {
    padding: 6px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100vw;

    a:first-child {
        margin: 0 5px 0 15px;
        display: inline-block;
        padding: 5px;
    }

    a:nth-child(2) {
        display: inline-block;
        padding: 5px;
        margin: 0 5px;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }
}

.nav-container {
    display: inline-block;
    flex-grow: 1;
}

.sub-container {
    // min-width: auto;
    height: 48px;
    float: right;
    padding: 0 4px 0 32px;
    flex: 0 0 auto;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    -webkit-box-align: center;
}

.subsub {
    float: right;
    padding: 0 4px 0 32px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
    justify-content: flex-end;
    flex: 0 0 auto;
}

.sub3 {
    float: right;
    position: relative;
    display: block;
    white-space: nowrap;

    a:nth-child(1) {
        padding: 4px;
        vertical-align: middle;

    }

    a:nth-child(2) {
        padding: 4px;
        vertical-align: middle;
    }
}

.app-icon {
    width: 24px;
    height: auto;
}

.profile-icon {
    width: 35px;
    height: auto;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);

    .img-container {
        max-height: 92px;
        position: relative;
        height: 100%;
        margin-top: auto;
        display: block;
    }
}

#middle {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
}

.form-container {
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}

.search-bar {
    width: 85vw;
    max-width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.subsearch {
    flex: 1;
    display: flex; 
    justify-content: space-between;
    padding: 5px 8px 0 16px;
    padding-left: 14px;

    :nth-child(1) {
        display: flex;
        align-items: center;
        padding-right: 13px;
        margin-top: -5px;
    }

    :nth-child(2) {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }

    :nth-child(2) {
        display: flex;
        flex: 0 0 auto;
        margin-top: -5px;
        align-items: stretch;
        flex-direction: row;
    }
}

#search-icon {
    opacity: 42%;
    height: 20px;
    width: auto;
    margin: auto;
}

#typing {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 200px;
}

#spacing {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    display: block;
    margin: 0;
    padding: 0;
    align-items: stretch;
    width: 100%;
}

#search-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    font: 400 13.3333px Arial;
}

.mic {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}

.mic-container {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: stretch;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    margin-right: 10px;
    width: 24px;
    line-height: 44px;
}

.mic-icon {
    height: 25px;
    width: auto;
    opacity: 52%;
    padding-top: 6px;
}

.btm-buttons {
    height: 70px;
    padding-top: 18px;
    top: 53px;
}

.btn-container {
    text-align: center;
}

.btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    font: 400 13.3333px Arial;
}

#bottom {
    flex-grow: 1;
}

footer {
    background-color: #f2f2f2;
    width: 100vw;
    height: 8vh;
    font-size: 1.2em;

    a {
        text-decoration: none;
        color: rgb(117, 117, 117);
    }

}

.shoe {
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    min-width: 30%;
    flex-wrap: wrap;
}

.line1 {
    flex-grow: 2;
}

.line2 {
    display: flex;
    justify-content: space-around;
}

.line3 {
    display: flex;
    justify-content: space-around;
}